DB_HOST=127.0.0.1
DB_NAME=petconnect
DB_USER=root
DB_PASS=
APP_ENV=development
GROQ_API_KEY=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=PetConnect
